---
layout: default
home: true
---

<h3>
  In Short
</h3>
<p>
  The purpose of this monthly blog is to document my journey on building all
  sorts of useless but fun projects from scratch. Through my process of
  learning, coding, test-running and failing, I hope to introduce others to
  different fields and aspects of STEM.
</p>
<br />
<h3>
  Why
</h3>
<p>
  I started this blog in 2020 when I was 16. Since 2018, I started to program
  small projects like simple websites for my friends, a vocabulay slideshow
  powered by javascript and many more. I began to develop a huge interest in
  technology and engineering. I hope to use this platform to introduce more
  girls to tech and engineering.
</p>
<br />
